DEBUG=True
POSTGRES_DB='your-database-name'
POSTGRES_USER='user-allowed-to-access-the-database'
POSTGRES_PASSWORD='a-strong-password-for-your-db'
POSTGRES_HOST='localhost' # Default parameter
POSTGRES_PORT=5432        # Default parameter
SENDGRID_HOST="smtp.sendgrid.net"
SENDGRID_PORT=465
SENDGRID_USER="apikey"
SENDGRID_PASSWORD="your-sendgrid-api-key"
DEFAULT_FROM_EMAIL="your.default.email@your-domain.com"
